<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Eryn's Ugly Car Parts</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

</head>

<body>
    <h1>Welcome to Eryn's Ugly Car Parts!</h1>
    <p>Here you will find only the finest parts for the ugliest cars and the ugliest parts for the finest cars.</p>
    <br>
    <%= image_tag("uglycar.jpg", :alt => "Orange car by Christopher Ziemnowicz", :size => '260x180') %>
    <br>
    <br>
    <%= link_to "Factories", factories_path, :class => "button btn btn-info" %>
    <%= link_to "Cars", cars_path, :class => "button btn btn-info" %>
    <%= link_to "Parts", parts_path, :class => "button btn btn-info" %>

</body>

</html>