<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="./">Eryn's Ugly Car Parts</a>
    </div>

    <%= form_tag(search_page_path, :method => "get",
                 class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag 'search', params[:search], data: {autocomplete: autocomplete_car_make_cars_path }, placeholder: "Search", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
    <% end %>

    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Home", root_path %></li>
      <li><%= link_to "Factories", factories_path %></li>
      <li><%= link_to "Cars", cars_path %></li>
      <li><%= link_to "Parts", parts_path %></li>
<!--      <%# if user_signed_in? %>
        <li><%#= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
        <li><%#= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
      <%# else %>
        <li><%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
        <li><%#= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
      <%# end %> -->
    </ul>

<!--    <div style="text-align:right">
      <%# if user_signed_in? %>
        Logged in as <strong><%#= current_user.email %></strong>
      <%# end %>
    </div>-->
  </div>

</nav>
