<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="./">Eryn's Ugly Car Parts</a>
    </div>

    <%= form_tag(search_page_path, :method => "get",
                 class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag 'search', params[:search], data: {autocomplete: autocomplete_car_make_cars_path }, placeholder: "Search", class: "form-control" %>
        <div class="input-group-btn">
          <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
    <% end %>

    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Home", root_path %></li>
      <li><%= link_to "Factories", factories_path %></li>
      <li><%= link_to "Cars", cars_path %></li>
      <li><%= link_to "Parts", parts_path %></li>
    </ul>
  </div>
</nav>
